body {
  background-color: black;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100svh;
  color: white;
}

.calculator {
  width: 50%;
}

.buttons {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
}

.buttons > :last-child {
  grid-column: span 3;
}

button {
  cursor: pointer;
  padding: 20px;
  font-weight: 800;
  font-size: 20px;
  border: none;
  color: white;

  &&:hover {
    background-color: rgb(122, 121, 121);
  }
}

.numbers {
  background-color: rgb(49, 49, 49);
}

.controls {
  background-color: rgb(22, 22, 22);
}

.display {
  width: 100%;
  margin: 20px 0 20px 0;
  height: 50px;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.display button {
  padding: 3px 7px 3px 7px;
  background-color: rgb(49, 49, 49);
}

.text {
  color: white;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  background-color: rgb(22, 22, 22);
  border: none;
  width: 85%;
  text-align: right;
}

input:focus {
  outline: none;
}

.themeDiv {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.theme {
  font-weight: 800;
  font-size: 20px;
}

/*  light mode */

.containerLight {
  background-color: white;
  color: black;
}

.numbersLight {
  background-color: rgb(228, 228, 228);
  color: black;
}

.controlsLight {
  color: black;
  background-color: rgb(202, 202, 202);
}

.displayLight {
  background-color: rgb(228, 228, 228);
}

.displayLight button {
  background-color: rgb(202, 202, 202);
  color: black;
}

.textLight {
  background-color: rgb(228, 228, 228);
  color: black;
}

.containerLight,
.numbersLight,
.controlsLight,
.displayLight,
.textLight {
  transition: background-color 0.9s, color 0.9s;
}
